/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

a {
    font-family: Roboto
}

#header {
    a {
        font-family: Roboto
    }
}

p.ui-post-summary {
    font-family: Roboto
    font-size: 1rem
    font-weight: normal
}

.ui-post-date {
    span {
        font-weight: normal
    }
}

.ui-post-tag {
    a {
        font-family: Roboto bold
    }
}

// ------------------------------------

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto
}

.post-meta-date {
    font-family: Roboto
    font-size: 1rem
    font-weight: normal
}

li {
    font-family: Roboto
}

p {
    font-family: Roboto
    font-weight: normal
}